<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://github.com/Manzoomeh/BasisCore.Client-v2/releases/download/v2.2.1/basiscore.min.js"></script>
    <title>Grid Command - Use API</title>
    <script>
      const host = {
        repositories: {
          "bc.grid": "/basiscore.grid.component.js",
        },
      };
    </script>
  </head>

  <body>
    <Basis core="api" url="/server/api" method="get" run="atclient"> </Basis>
    <Basis core="component.bc.grid" run="atclient" dataMemberName="api.demo">
    </Basis>
    <basis core="callback" run="atclient" triggers="api.demo"></basis>
  </body>
</html>
