/* all */
[data-bc-grid] * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  color: #212121;
  border-collapse: collapse;
}

/* search box & pagesize */
[data-bc-grid] [data-bc-filter-container],
[data-bc-grid] [data-bc-pagesize-container] {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
}

[data-bc-grid] input[type="text"],
[data-bc-grid] select {
  width: 190px;
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  font-size: 12px;
  box-sizing: border-box;
  color: #555;
  background: #f5f8f9;
  border: 1px solid #c7d6db;
  border-radius: 3px;
  transition: border 0.3s linear 0s;
}

[data-bc-grid] input[type="text"]:focus,
[data-bc-grid] select:focus {
  background: #fff8ee;
  border-color: #66afe9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}

/* main table */
[data-bc-grid] table[data-bc-table] {
  width: 100%;
}

[data-bc-grid] [data-bc-no-selection] * {
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

[data-bc-grid] table[data-bc-table] thead td {
  background-color: #eee;
  text-align: center;
  padding: 10px 30px;
  font-size: 15px;
  border-left: 1px solid #f8f9fa;
  border-right: 1px solid #f8f9fa;
}

[data-bc-grid] table[data-bc-table] thead td:first-child {
  border-top-right-radius: 3px;
  border: none;
}

[data-bc-grid] table[data-bc-table] thead td:last-child {
  border-top-left-radius: 3px;
  border: none;
}

[data-bc-grid] table[data-bc-table] thead [data-bc-sorting] {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: right 5% bottom 50%;
  background-image: url("img/sort_both.png");
}

[data-bc-grid] table[data-bc-table] thead [data-bc-sorting="asc"] {
  background-image: url("img/sort_asc.png") !important;
}

[data-bc-grid] table[data-bc-table] thead [data-bc-sorting="desc"] {
  background-image: url("img/sort_desc.png") !important;
}

[data-bc-grid] table[data-bc-table] tbody tr {
  border-bottom: 1px solid #eee;
}

[data-bc-grid] table[data-bc-table] tbody td {
  text-align: center;
  padding: 10px 10px;
}

[data-bc-grid] table[data-bc-table] tbody tr:nth-child(2n) td {
  background-color: #f8f9fa;
}

[data-bc-grid] table[data-bc-table] tbody td[data-bc-action] [data-bc-icons] {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -moz-flex;
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

[data-bc-grid] table[data-bc-table] tbody td[data-bc-action] a {
  margin: 0 5px;
}

[data-bc-grid] table[data-bc-table] tbody td[data-bc-action] i {
  font-size: 17px;
  color: #555;
}

[data-bc-grid] table[data-bc-table] tbody td[data-bc-action] img {
  width: 17px;
  height: 17px;
}

/* paging */
[data-bc-grid] [data-bc-paging-container] {
  padding-top: 10px;
  margin-top: 20px;
  border-radius: 3px;
  direction: ltr;
}

[data-bc-grid] [data-bc-paging-container] * {
  direction: ltr;
}

[data-bc-grid] [data-bc-status],
[data-bc-grid] [data-bc-page] {
  border-top: 1px solid #4d576e;
  border-right: 1px solid #4d576e;
  border-bottom: 1px solid #4d576e;
  padding: 5px 10px;
  cursor: pointer;
  display: inline-block;
}

[data-bc-grid] [data-bc-start]:first-child,
[data-bc-grid] [data-bc-previous]:first-child {
  border-left: 1px solid #4d576e;
  border-radius: 3px 0 0 3px;
}

[data-bc-grid] [data-bc-next]:last-child,
[data-bc-grid] [data-bc-end]:last-child {
  border-radius: 0 3px 3px 0;
}

[data-bc-grid] [data-bc-status="disabled"] {
  color: lightslategray;
  cursor: no-drop;
}

[data-bc-grid] [data-bc-page][data-bc-current="true"] {
  background-color: #4d576e;
  color: #fff;
}

[data-bc-grid] [data-bc-table-container][data-process] {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: right 50% bottom 50%;
  background-image: url("img/progress.gif");
}
