<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://github.com/Manzoomeh/BasisCore.Client-v2/releases/download/v2.2.1/basiscore.min.js"></script>
  <title>Grid Command - With Config</title>
  <script>
    const host = {
      repositories: {
        "bc.grid": "/basiscore.grid.component.js",
      },
    };
  </script>
</head>

<body>
  <button id="btn">Reload</button>
  <Basis core="component.bc.grid" run="atclient" dataMemberName="sample.data" options="options">
  </Basis>
  <basis core="callback" run="atclient" triggers="sample.data"></basis>
  <script>
    const MIN_ID = 1000;
    const MAX_ID = 1200;
    const MIN_COUNT = 10;

    const dataList = [];
    for (let index = MIN_ID; index < MAX_ID; index++) {
      const data = {
        id: index,
        count: Math.floor(Math.random() * 80) + MIN_COUNT,
        data: Math.random().toString(36).substring(7),
      };
      dataList.push(data);
    }

    function setSource() {
      $bc.setSource("sample.data", dataList);
    }

    document.getElementById("btn").addEventListener("click", (e) => {
      setSource();
    });

    setSource();

    const options = {
      paging: [5, 10, 20, 30, 40, 50],
      defaultPagingIndex: 4
    };
  </script>
</body>

</html>